@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('quiz-bg.png');
  background-position: 50% 0;
  font-family: 'Roboto', sans-serif;
}

.hide  {
  display: none !important;
}

div#container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (min-width: 600px) {
  div#container > main, div#container > footer {
    max-width: 600px;
    align-self: center;
  }
  div#container > footer {
    width: 580px;
  }
}

header {
  height: 90px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid;
  border-color: #C0171B;
}

header img {
  display: block;
  align-self: center;
  margin: 0 10px;
}

main {
  flex: 1;
}

footer {
  /* background-color: blanchedalmond; */
  margin-top: 10px;
  padding: 10px;
}

button.next {
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 6px darkgreen;
  border: 1px solid green;
  background-color: #CCF6AA;
  height: 50px;
  font-size: 24px;
  box-sizing: border-box;  
  width: 100%;
  outline: none;
}

div#finale {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

div#finale div {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: silver;
  align-items: center;
  justify-content: center;
}

div#finale div.ok-color {
  background-color: #CCF6AA;
  border: 2px solid #015009;
}

div#finale div.so-color {
  background-color: #FAFFC3;
  border: 2px solid #CACFA3;
}

div#finale div.no-color {
  background-color: #F6C6AA;
  border: 2px solid #B21E15
}

div#finale p {
  text-align: center;
  font-size: 22px;
}

div#finale div span:first-child {
  font-size: 56px;
}

div#finale h2 {
  font-size: 32px;
}

div#home {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
}

div#question  {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

div#answer {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: #FFF1CE;
  border: 2px solid #CFC1AE;
  border-radius: 25px;
  text-align: center;
  font-size: 14pt;
}

div#finale {
  display: flex;
}

div.assertive {
  display: flex;
  
}

div.assertive * {
  margin: 0;
  padding: 0;
}

div.assertive div {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 90px;
  width: 90px;
  font-size: 54px;
  box-sizing: border-box;
}

div.assertive div.right {
  background-color: #CCF6AA;
  color: #015009;
  border: 2px solid #015009;
}

div.assertive div.wrong {
  background-color: #F6C6AA;
  color: #B21E15;
  border: 2px solid #B21E15;
}

div.assertive p {
  flex: 1;
  margin-left: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  font-style: italic;
}

div#answer p.response {
  font-weight: bold;
  font-size: 20pt;
}


div#home * {
  margin: 0;
  padding: 0;
  text-align: center;
}

div#home h1 {
  font-size: 32px;
}

div#home p.lide {
  font-size: 22px;
}

div#home p:last-child {
  font-size: 18px;
}

div#question div#box {
  background-color: #FFF1CE;
  border: 2px solid #CFC1AE;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#question div#box p {
  font-size: 32px;
  text-align: center;
  padding: 10px;
}

div#question div#buttons {
  height: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.option {
  border-radius: 50%;
  padding: 0;
  display: block;
  border: none;
  background-color: grey;
  height: 140px;
  width: 140px;
  font-size: 68px;
  box-sizing: border-box;  
  outline: none;
}

.option.a {
  background-color: #F6C6AA;
  color: #B21E15;
  box-shadow: 0px 0px 6px #A20E05;
  border: 1px solid #A20E05;
}

.option.b {
  background-color: #CCF6AA;
  color: #015009;
  box-shadow: 0px 0px 6px #013007;
  border: 1px solid #015009;
}

div#question div#buttons button.descriptive{
  font-size: 16px;
}

button.share {
  background-image: url('./share.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 20px;
}
