@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('quiz-bg.png');
  background-position: 50% 0;
  font-family: 'Roboto', sans-serif;
}

.hide  {
  display: none !important;
}


div#container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 90px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid;
  border-color: #C0171B;
}

header img {
  display: block;
  align-self: center;
  margin: 0 10px;
}

main {
  flex: 1;
}

footer {
  /* background-color: blanchedalmond; */
  margin-top: 10px;
  padding: 10px;
}

button.next {
  display: block;
  border: 1px solid green;
  background-color: #CCF6AA;
  height: 50px;
  font-size: 24px;
  box-sizing: border-box;  
  width: 100%;
  outline: none;
}

div#finale {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

div#finale div {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: #CCF6AA;
  align-items: center;
  justify-content: center;
}

div#finale p {
  text-align: center;
  font-size: 22px;
}

div#finale div span:first-child {
  font-size: 56px;
}

div#finale h2 {
  font-size: 32px;
}

div#home {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
}

div#question  {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

div#answer {
  display: flex;
  /* display: none; */
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: #FFF1CE;
  border-radius: 25px;
  text-align: center;
  font-size: 14pt;
}

div#finale {
  display: flex;
}

div.assertive {
  display: flex;
  
}

div.assertive * {
  margin: 0;
  padding: 0;
}

div.assertive div {
  border-radius: 50%;
  padding: 0;
  display: inline-block;
  border: none;
  height: 90px;
  width: 90px;
  font-size: 82px;
  box-sizing: border-box;
}

div.assertive div.right {
  background-color: #CCF6AA;
  color: #015009;
}

div.assertive div.wrong {
  background-color: #F6C6AA;
  color: #B21E15;
}

div.assertive p {
  flex: 1;
  margin-left: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  font-style: italic;
}

div#answer p.response {
  font-weight: bold;
  font-size: 20pt;
}


div#home * {
  margin: 0;
  padding: 0;
  text-align: center;
}

div#home h1 {
  font-size: 32px;
}

div#home p.lide {
  font-size: 22px;
}

div#home p:last-child {
  font-size: 18px;
}

div#question div#box {
  background-color: #FFF1CE;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#question div#box p {
  font-size: 32px;
  text-align: center;
  padding: 10px;
}

div#question div#buttons {
  height: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.option {
  border-radius: 50%;
  padding: 0;
  display: block;
  border: none;
  background-color: grey;
  height: 140px;
  width: 140px;
  font-size: 82px;
  box-sizing: border-box;  
  outline: none;
}

.option.a {
  background-color: #F6C6AA;
  color: #B21E15;
}

.option.b {
  background-color: #CCF6AA;
  color: #015009;
}

div#question div#buttons button.descriptive{
  font-size: 16px;
}

